{% extends 'base.html.twig' %}

{% block entete %}

  <h2>{{ parent() }} - Ajout d'une nouvelle page</h2>   
 
{% endblock %}

{% block body %}
   <h3>Mettre le titre précis et court stp</h3>
   <form action="contact.html.twig" method="post">
      {{ form_widget(form) }}
     <input type="submit" value="Envoyer">
   </form>
{% endblock %}