<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bonjour !</title>
</head>
<body>

    <h3>Merci M./Mme. {{ nom }} {{ prenom }} de nous contacter</h3>
    <p>Merci de nous contacter, nous sommes ravis de vous donner une réponse le plus vite possible.</p>
    <p>Nous allons prendre soin de votre demande le plus vite possible.</p>
    <a href="{{ url('accueil') }}">Venez de nouveau sur notre site !</a>

</body>
</html>
