{% extends 'base.html.twig' %}

{% block entete %}

  <h2>{{ parent() }} - Formulaire pour crée une page</h2>   
 
{% endblock %}

{% block body %}
    <form action="{{ path('ajouter_page') }}" method="post">
      {{ form_widget(form) }}
     <input type="submit" value="Envoyer">
   </form>
{% endblock %}