{% extends 'base.html.twig' %}

{% block entete %}

  <h2>{{ parent() }} - Page slug</h2>   
 
{% endblock %}

{% block body %}
    <h1>Tu es en train de regarder la page de titre :<br /><strong> {{ slug }}</strong></h1>
{% endblock %}